#This should be obvious. please keep your credentials safe!
.env

#ignore everything in videos and datafiles with a file extension (i.e videos), keep warning file
videos/*.*
datafiles/*.*

videos/*/
datafiles/*/

videos/!*
datafiles/!*